<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>404: BLIP Chronological</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/navbar.html :: navbar}"></div>
<div th:replace="~{fragments/marvel.html :: marvel (pages=${chronological})}"></div>
<div th:replace="~{fragments/pagination.html :: pagination(${'chronological?page=chronological'}, ${pageNumber}, ${totalPages}, ${pageSize})}"></div>
<div th:replace="~{fragments/footer.html :: footer}"></div>
<!--<script>-->
<!--    document.addEventListener("DOMContentLoaded", function (event) {-->
<!--        var scrollpos = localStorage.getItem("scrollpos");-->
<!--        if (scrollpos) window.scrollTo(0, scrollpos);-->
<!--    });-->

<!--    window.onscroll = function (e) {-->
<!--        localStorage.setItem("scrollpos", window.scrollY);-->
<!--    };-->
<!--</script>-->
</body>
</html>