<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>404: BLIP Home</title>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    </head>
    <body>
    <div th:replace="~{fragments/navbar.html :: navbar}"></div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm">
                <img src="https://i.pinimg.com/736x/99/71/4c/99714c04b3955a76869aef1fa945b4c9.jpg" alt="OG Avengers" width="350" height="500">
            </div>
            <div class="col-sm">
                <div class="card">
                    <h1 class="ms-3 mt-3">Next Release:</h1>
                    <p class="ms-3"><span th:text="${nextReleaseTitle}"></span></p>
                    <p class="ms-3"><span th:text="${nextReleaseDate}"></span></p>
                    <p class="ms-3">Days until release: <span th:text="${untilRelease}"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer.html :: footer}"></div>
    </body>
</html>