<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>404: BLIP Release</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/navbar.html :: navbar}"></div>
<div class="container">
    <div class="row g-0">
        <div class="card mt-3 d-flex flex-row align-items-center" th:each="release : ${release}">
            <img th:src="${release.poster}" alt="Image" width="350" height="500">
            <div>
                <h4 class="ms-3 text-wrap" th:text="${release.title}">Title</h4>
                <p class="text-muted small ms-3" th:text="${release.releaseDate}">Release Date</p>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>