<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>404: BLIP Release</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/navbar.html :: navbar}"></div>
<div class="container">
    <div class="row g-0">
        <div class="card mt-3 d-flex flex-row position-relative" th:each="release : ${release}">
            <img th:src="${release.poster}" alt="Image" width="350" height="500">
            <div class="d-flex flex-column justify-content-center position-relative flex-grow-1 ms-3 pe-5">
                <h4 class="ms-3 text-wrap" th:text="${release.title}">Title</h4>
                <p class="text-muted small ms-3" th:text="${release.releaseDate}">Release Date</p>
                <small class="d-block text-truncate" th:if="${not #lists.isEmpty(release.watched)}"
                       th:text="'Dates Watched: ' + ${#strings.listJoin(release.watched, ', ')}">
                </small>
                <form th:action="@{watched/{id}(id=${release.id})}" method="post">
                    <input type="hidden" name="page" value="release">
                    <div class="position-absolute d-flex flex-column align-items-end top-0 end-0 m-2">
                        <label for="watched" class="text-muted small mb-1 me-5">Add Watched Date</label>
                        <div class="d-flex align-items-center gap-1">
                            <input class="form-control form-control-sm" style="min-width: 10em;" name="watched" id="watched" type="date">
                            <button class="btn btn-outline-primary btn-sm" type="submit">+</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>